<div class="cards">
  <div class="card">
    <img
      src="https://images4.penguinrandomhouse.com/cover/9781400079988"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">War and piece</h5>
      <p class="card-text">
        $21.00
      </p>
      <button class="btn btn-primary">Add to cart</button>
    </div>
  </div>

  <div class="card">
    <img
      src="https://images3.penguinrandomhouse.com/cover/9781400033423"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">War and piece</h5>
      <p class="card-text">
        $21.00
      </p>
      <button class="btn btn-primary">Add to cart</button>
    </div>
  </div>

  <div class="card">
    <img
      src="https://images3.penguinrandomhouse.com/cover/9780679722762"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">War and piece</h5>
      <p class="card-text">
        $21.00
      </p>
      <button class="btn btn-primary">Add to cart</button>
    </div>
  </div>

  <div class="card">
    <img
      src="https://images4.penguinrandomhouse.com/cover/9781400079988"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">War and piece</h5>
      <p class="card-text">
        $21.00
      </p>
      <button class="btn btn-primary">Add to cart</button>
    </div>
  </div>
</div>
